<div>
    <h2>Create Group</h2>

    <form action="/group/create" method="post">
    Groupname: <input type="text" name="groupname">
    </form>

    <button type="submit">Create</button>
</div>


{{#if }}
    <div>
    <img src="" alt="">
    <h2>Groupname: {{Group.name}}</h2>
    <h4> PIN: {{Group.pin}}</h4>
    </div>
{{/if}}


    