<div>
  <h2>Pachanga</h2>
  <h3>Ranking</h3>
  <ol>
    <li><p>Manolo</p><p>{{puntos}}</p></li>
    <li><p>Pepe</p><p>{{puntos}}</p></li>
  </ol>

  <a href="/views/round/round-next.hbs">Bet</a>
  <a href="/views/round/round-past.hbs">See Results</a>
    

</div>