<div class="container" >
    <h2 class="title" >{{group.name}}</h2>
    
    <div class="container-group">
      
      
       <div><button class="btn-group2" ><a href="/round/36">Last Round</a></button></div>
       <div><button class="btn-group2" ><a href="/round/37">Next Round</a></button></div>   
      
    </div>


    <button class="btn-grp" ><a href="/group/create">Create</a></button>
    <button class="btn-grp" ><a href="/group/join">Join</a></button></button>

  </div>