<div class="container">
  <h2 class="title">Join Group</h2>
  <div class="container-group" >
    <form action="/group/join" method="post">
    <input class="input" type="text" name="groupName" placeholder="group name">
    <input class="input" type="text" name="groupPin" placeholder="PIN">
      

      <button class="btn-jc" type="submit">Join</button>
    </form>
  </div>


</div>


</div>