<div>
<h2>Create Group</h2>
<form action="/group/join" method="post">
Groupname: <input type="text" name="groupname">

<form action="/join-create" method="post">
Pin: <input type="text" name="groupPin">
</form>
<button type="submit">Join</button>


</div>


