<div>

<form action="/" method="post">
Groupname: <input type="text" name="groupname">

<button type="submit">Create</button>

</div>

<div>
    <img src="" alt="">
    <h2>Groupname</h2>
    <p> PIN</p>

</div>
