<div class="container" >
    <h2 class="title" >{{group.name}} Group</h2>
    
    <div class="container-group">
      
      
       <div><button class="btn-group2" ><a href="/round/36/{{group._id}}">Last Round</a></button></div>
       <div><button class="btn-group2" ><a href="/round/37/{{group._id}}">Next Round</a></button></div>   
      
    </div>


    <button class="btn-grp" ><a href="/group">Back to groups</a></button>
   

  </div>