<div>
    <h2>Your Groups</h2>
    
    <div>
      <h4>Ranking</h4>
      <ul>
        <li><p>Familia</p></li>
        <li><p>Trabajo</p></li>
      </ul>
    </div>


    <a href="/views/group/group-create.hbs">Create</a>
    <a href="/views/group/group-join.hbs">Join</a>

  </div>