<div>
    <h2>{{Group.name}}</h2>
    <h3>Ranking</h3>
    <div>
        {{!-- here will be the ranking --}}
    </div>

    <button type="submit">Bet</button>
    <button type="submit">See Results</button>

</div>