<div>
  <h2>Create Group</h2>

  <form action="/group/create" method="post">
  Groupname: <input type="text" name="groupname">
  
  <button type="submit">Create</button>
  </form>
</div>



  <div>
  <h3>group created</h3>
  <img src="" alt="">
  <h2>Groupname: pachanga</h2>
  <h4> PIN: 12345</h4>
  </div>



    