<div>
<h2>Join Group</h2>
<form action="/group-join" method="post">
Groupname: <input type="text" name="groupname">

<form action="/group-join" method="post">
Pin: <input type="text" name="pin">

<button type="submit">Create</button>



</div>

