<div>
  <h2>Join Group</h2>
  <form action="/group/join" method="post">
    Groupname: <input type="text" name="groupName">
    Pin: <input type="text" name="groupPin">

    <button type="submit">Join</button>
  </form>


</div>


