<div>
  <h2>Pachanga</h2>
  <h3>See results</h3>

  <select name="rounds-past" size="3">

    <option>Round1</option>
    <option>Round2</option>
    <option>Round3</option>

  </select>


  <div>
      <p>1</p> <p>X</p> <p>2</p>
  </div>

  <div>
    <form action="">
      <div>
        <img src="" alt="">
        <p></p>
        <input type="text">
        <img src="" alt="">
        <p></p>
      </div>

      <div>
        <img src="" alt="">
        <p></p>
        <input type="text">
        <img src="" alt="">
        <p></p>
      </div>

      <div>
        <img src="" alt="">
        <p></p>
        <input type="text">
        <img src="" alt="">
        <p></p>
      </div>

      <div>
        <img src="" alt="">
        <p></p>
        <input type="text">
        <img src="" alt="">
        <p></p>
      </div>

      <div>
        <img src="" alt="">
        <p></p>
        <input type="text">
        <img src="" alt="">
        <p></p>
      </div>

      <div>
        <img src="" alt="">
        <p></p>
        <input type="text">
        <img src="" alt="">
        <p></p>
      </div>

      <div>
        <img src="" alt="">
        <p></p>
        <input type="text">
        <img src="" alt="">
        <p></p>
      </div>

      <div>
        <img src="" alt="">
        <p></p>
        <input type="text">
        <img src="" alt="">
        <p></p>
      </div>

      <div>
        <img src="" alt="">
        <p></p>
        <input type="text">
        <img src="" alt="">
        <p></p>
      </div>

      <div>
        <img src="" alt="">
        <p></p>
        <input type="text">
        <img src="" alt="">
        <p></p>
      </div>
    </form>
  </div>

  <h2>Raking Round x</h2>

  <ol>
    <li><p>Manolo</p><p>{{puntos}}</p></li>
    <li><p>Pepe</p><p>{{puntos}}</p></li>
  </ol>


</div>