<div>
    <h2>{{Group.name}}</h2>  {{!-- nombre del grupo --}}
    <h3>{{Game.round}}</h3>
    <div>
        {{!-- here will be the bet with the 1,x,2 choices --}}
    </div>

    <button type="submit">Done</button></a>
   
</div>