<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      
      <nav>
      <div class="nav">
          <input type="checkbox" id="nav-check">
          <div class="nav-header">
            <div class="nav-title">
              Groupool
            </div>
          </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
  
        <div class="nav-links">
          <a href="https://codepen.io/jo_Geek/" target="_blank">Groups</a>
          <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">Log out</a>
        </div>
      </div>
    </nav>
    <div>
      {{{body}}}
    </div>
  </body>
</html>
