
<div class="container">
<h1>Groupool</h1>


<div class="form-label-group">

  <form action="/login" method="post">
  <input class="input" type="text" name="username" placeholder="username">
  
  <input class="input" type="text" name="password" placeholder="password">
  
  <div id="div-btn-signup">
  <button class="btn" type="submit">Login</button>

  <a id="singup" href="/signup"><p>Or sign up</p></a>
  </div>

  </form>
</div>
</div>
