<div class="container" >
<h1>Groupool</h1>
<h2>Signup</h2>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}

<div class="form-label-group" >
  <form  action="/signup" method="post">
  <input class="input" type="text" name="username" placeholder="Username">
  <input class="input" type="password" name="password" placeholder="password">

  <button class="btn"  type="submit">Signup</button>
</form>

</div>

</div>


